<h1>Messages</h1>

<ul>
<% @user.messages.each do |message| %>
  <li><%= message.content %> | <%= link_to "Delete", user_message_path(id: message.id), method: 'delete' %></li>
  <%= message.viewed %>
<% end %>
</ul>