<div class="blue-box"></div>

<div class="header">
  <h1>Group Index</h1>

  <div class="create-group text-right">
    <%= link_to "Create a group", new_group_path, class: "btn btn-default" %>
  </div>
</div>

<div class="group-wrapper">

<!-- FOR AJAX CALLS -->
<%= javascript_include_tag "group_index" %>

  <div class="col-md-8 col-md-offset-2">
    <div class="custom-panel">
      <div class="custom-panel-border"></div>
      <div class="custom-panel-content">

        <%= render "list_group_module" %>

    
      </div>
    </div>

  </div>

  <div class="clearfix"></div>

</div><!-- end GROUP WRAPPER -->