<div class="blue-box"></div>

<div class="header">
  <h1>Groups</h1>

  <div class="create-group text-right">
    <%= link_to "Create a group", new_group_path, class: "btn btn-default" %>
  </div>
</div>

<div class="group-wrapper">

<!-- FOR AJAX CALLS -->
<%= javascript_include_tag "group_index" %>

  <div class="col-md-8 col-md-offset-2">
    <div class="custom-panel">
      <div class="custom-panel-border"></div>
      <div class="custom-panel-content">
        <% if @groups != [] %>
          <%= render "list_group_module" %>
        <% else %>
          <div class="group-box error-box tweet-box col-sm-12">
            <div class="top-box text-center">
              <h3>There are no groups yet!</h3>
              <p>This is the moment you're entire life has been building up to. Go make a group!</p>
            </div>
          </div>
        <% end %>

    
      </div>
    </div>

  </div>

  <div class="clearfix"></div>

</div><!-- end GROUP WRAPPER -->