$grey: #edeeef !default;
$midGrey: #7f8c8d !default;
$darkGrey: #35393c !default;
$blue: #34495e !default;
$lightBlue: #8daac6 !default;
$green: #3b912f !default;
$lightGreen: #75be6f !default;
$red: #8A3324 !default;

@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700,900);

// NO HIGHLIGHTS EVER!!!!!!

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover {
  outline:0px !important;
  -webkit-appearance:none;
}

.error-holder {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

p.error, p.notice {
  color: white;
  text-align: center;
  background: rgba($green, 0.7);
  position: relative;
  z-index: 1000;
  font-size: 24px;
  font-weight: 700;
  max-width: 350px;
  margin: 0 auto;
  padding: 5px 25px;
  border-radius: 3px;
}

.admin-button {
  position: fixed;
  z-index: 1000;
  bottom: 5px;
  right: 5px;
  opacity: 0.2;

}
.admin-button:hover {
  opacity: 0.3;
}

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  background: $grey !important;
}

h1 {
  font-weight: 900 !important;
}

ol.steps {
  font-size: 18px;
  font-weight: 500;
  color: rgba($darkGrey, 0.8);
}

.call-to-action h3 {
  font-weight: 900;
  color: $blue;
  font-size: 36px;
  padding-bottom: 25px;
}

.header-logo {
  top: 8px;
  position: relative;
  display: inline-block;
}

.header-logo a {
  color: $darkGrey;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 1px;
}

.header-logo a:hover {
  text-decoration: none;
  color: $darkGrey;
}

.login-buffer {
  margin-left: 10px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:70px;
}

.footer {
  position: relative;
  margin-top: -70px; 
  height: 70px;
  clear:both;
} 

.footer p {
  padding: 27px 0 0 0;
  color: $midGrey;
  font-size: 14px;
}

.footer a {
  color: $midGrey;
}

.navbar {
  padding: 10px;
}

.navbar-default {
  background: white !important;
}

nav a {
}

nav a.btn {
  font-size: 14px !important;
  color: white !important;
  background: $blue;
}

nav a.btn:hover {
  color: $blue !important;
}

.home-grey-box {
  width: 100%;
  height: 430px;
  background: $blue;
  position: absolute;
  left: 0;
  z-index: 0;
  margin-top: -20px;
}

.tagline {
  color: #f2f2f2;
  letter-spacing: 1px;
  top: 20px;
  position:relative;
  z-index: 100;
}

.floating-box {
  position: relative;
  z-index: 100;
  top: 75px;
}

.home-page-jumbotron {
  height: 500px;
  background: url('http://i.imgur.com/5VCH5D9.jpg') no-repeat top center !important;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.jumbo-img {
  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
  border-radius: 5px;
}

.box-shadow {
  -moz-box-shadow: 0 0 25px rgba($darkGrey, 0.2);
  -webkit-box-shadow: 0 0 25px rgba($darkGrey, 0.2);
  box-shadow: 0px 0px 25px rgba($darkGrey, 0.2);
}

.call-to-action {
  height: 100px;
  top: 50px;
  margin: 125px 0 200px; 
}

.call-text p, .call-btn-box p  {
  font-size: 18px;
  padding: 35px 25px 0 0;
}

.small-nav {
  font-size: 14px !important;
}

.buffer {
  height: 50px;
}

.bottom-logo {
  position: relative;
}

.bottom-logo h1 {
  font-size: 58px;
  margin-top:25px;
  float: left;
}

.bottom-logo img {
  float: left;
}

.logo-wrapper {
  width: 365px;
  height:100px;
  margin: 0 auto;
}

.label-danger {
  background: rgba($red, 0.8) !important;
}

.logo-font {
  font-weight: 100 !important;
}

/* CUSTOM PANELS */

.custom-panel {
  margin: 15px 0 0;
  float: left;
  width: 100%
}

.custom-panel h3 {
  margin: 5px 0 10px 0;
  color: rgba($darkGrey, .95);
  font-weight: 900;
}

.custom-panel .btn-default {
  width: 100%;
}

.custom-panel-border {
  background: rgba($darkGrey, .8);
  width: inherit;
  margin:0;
  padding: 3px 10px;
  margin: 15px 0 0 0;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-panel-content {
  margin:0;
  padding: 10px 20px;
  background: white;
  overflow: hidden;
  color: $midGrey;
}

.custom-panel .panel, 
.custom-panel .panel-default,
.custom-panel .panel-body {
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  box-shadow: none;
}

/* GROUP BOX */

.group-box {
  border: 2px $grey solid;
  border-radius: 3px;
  height: 165px;
  padding: 13px !important;
  color: $midGrey !important;
  overflow: hidden;
  margin: 0 0 10px 0;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.group-box:hover {
  background: rgba($grey, .2);
}

.group-box .top-box {

}

.group-box .right-text {
  float: left;
  padding-left: 10px;
}

.group-box ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.group-box li {
  margin: 0;
}

.group-box .right-text h3 {
  color: $blue;
  margin: 5px 0 1px 0;
  padding: 0;
}

.group-box .right-text h3 span {
  font-weight: 300;
  font-size: 80%;
  color: $midGrey;
}

.group-img-box {
  float: left;
  padding: 2px;
}

img.group-img {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  opacity: 0.8;
}

.status {
  color: white !important;
  width: 75px;
  height: 30px; 
  border-radius: 3px;
  position: absolute;
  right: 15px;
  top: 15px;
  text-align: center;
  padding: 5px;
}

.big-status {
  color: white !important;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
}



.closed {
  background: $red;
}

.open {
  background: $green;
}

.cost-per-tweet {
  position: absolute;
  color: white !important;
  border-radius: 3px;
  background: $blue;
  width: 75px;
  height: 75px;
  right: 15px;
  bottom: 15px;
  padding: 17px 0;
}

.cost-per-tweet h4 {
  margin:0;
  padding:0;
}

.cost-per-tweet p {
  font-weight: 100;
}

.error-box {
  background: $red;
  color: $grey !important;
  line-height: 20px;
  font-weight: 300;
  border-color: rgba($red, 0.7);
}

.error-box:hover {
  background: $red;
}

.error-box h3 {
  padding: 12px 0 0;
  color: $grey;
  font-weight: 100;
}

.paddit {
  padding-right: 50px;
}

/* TABLET */

@media screen and (max-width:770px) {

  .status {
    width: 50px;
    height: 19px;
    left: 15px;
    top: 75px;
    font-size: 10px;
    padding: 2px;
  }

  .cost-per-tweet {
    width: 50px;
    height: 30px;
    left: 15px;
    bottom: 15px;
    padding: 3px 0;
    font-size: 10px;
  }

  .cost-per-tweet h4 {
    font-size: 12px;
  }

  .group-box .right-text {
    width: 300px;
    font-size: 12px;
  }

  .group-box {
    height: 175px;
  }

  .paddit {
    padding-right: none;
  }


}

/* PHONE */

@media screen and (max-width:480px) {

  .call-btn-box {
    text-align: center;
  }

  .mobile-logo-fix {
    padding-top: 225px;
  }

  .group-box .right-text {
    width: 175px;
    font-size: 12px;
  }

  .logo-wrapper {
    text-align: center;
    margin: 0 auto;
  }

  h1.logo-font {
    font-size: 42px;
  }

  .logo-wrapper img {
    margin-left: auto;
    margin-right: auto;
  }

}