// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom"; // GRAB SASS VARS

.blue-box {
  width: 100%;
  height: 120px;
  background: $blue;
  position: absolute;
  left: 0;
  z-index: 0;
  margin-top: -20px;
}

.header {
  position: relative;
  z-index: 100;
  color: $grey;
  padding-left: 10px;
}

.header h1 {
  font-weight: 100 !important;
  letter-spacing: 2px;
}

.group-wrapper {
  margin: 45px 0 0 0;
}


.create-group {
  postion: relative;
  z-index: 100;
  padding-right: 10px;
  margin-top: -45px;
}

.create-group a.btn {
  color: $grey !important;
  background: $blue !important;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.create-group a.btn:hover {
  color: $blue !important;
  background: $grey !important;
}

.create-group button {
  color: $grey !important;
  background: $blue !important;
  border-color: white !important;
  font-weight: 400 !important;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.create-group button:hover {
  border-color: white !important;
  color: $blue !important;
  background: $grey !important;
}

.custom-panel-content {
  padding: 25px 20px 15px !important;
}

.trigger-box {
  width: 90% !important;
  display: inline !important;
}

.add-trigger, .remove-trigger {
  width: 8% !important;
  height: 34px !important;
  margin-top: -2px !important;
}

/* GROUP SHOW PAGE */

.jar-fund-amount h4 {
  color: $green;
  weight: 900;
  font-size: 64px;
}

.jar-fund-amount h5 {
  letter-spacing: 1px;
}

ul.info-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.info-list li {
}

ul.info-list li strong {
  color: rgba($darkGrey, 0.8);
  font-size: 18px;
  padding-bottom: 5px; 
}

span.tag-box {
  color: $grey;
  background: rgba($red, 0.9);
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 4px 3px 0;
  font-weight: 700;
  display: inline-block;
}

span.cost-tag {
  background: $green;
}

span.no-box {
  color: $blue;
  background: none;
  display: default;
  font-size: 18px;
}

span.little-box{
  color: rgba($midGrey, 0.7)!important;
  background: $grey !important;
  font-weight: 500;
  font-size: 12px !important;
}

a.user-select {
  color: $grey;
  text-decoration: none;
  background: rgba($blue, 0.9);
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 4px 3px 0;
  font-weight: 700;
  display: inline-block;
}

a.user-select:hover {
  color: $grey;
  background: $blue;
  text-decoration: none;
}

a.admin-select {
  background: rgba($darkGrey, 0.9);
}

a.admin-select:hover {
  background: $darkGrey; 
}

.tweet-box {
  height: 125px !important;
}

.tweet-box p {
  font-size: 18px;
}

.tweet-info {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 12px;
  opacity: 0.7;
}

.tweet-info a {
  color: $midGrey;
}

.chart {
  margin-bottom: 50px;
}

.venmo-panel h2 {
  margin-top: 0 !important;
  padding: 0;
}

.panel-copy h3 {
  margin-bottom: 0 !important;
  padding: 0;
}


.scroll-box {
  width: 100%;
  height: 400px;
  overflow: scroll !important;
}

.paddit {
  padding-right: 50px;
}




/* BUTTONS */

.join-btn-wrap {
  width: 100%;
}

.join-btn {
  position: relative;
  top: -161px;
  width: 75px;
  margin-bottom: -35px;
  margin-right: 17px;
  text-align: right;
  float: right;
}

btn.join-btn {
  width: 75px;
}

.leave-btn-grey {
  color: rgba($darkGrey, 0.8) !important;
  font-weight: 700 !important;
  background: rgba($grey, 0.5) !important;
}

.leave-btn-grey:hover {
  background: $grey !important;
}

.nonmember-btn-green {
  color: white !important;
  font-weight: 700 !important;
  background: rgba($green, 0.9) !important;
}

.nonmember-btn-green:hover {
  background: $green !important;
}

.close-btn-red {
  color: white !important;
  font-weight: 700 !important;
  background: rgba($red, 0.9) !important;
}

.close-btn-red:hover {
  background: $red !important;
}

.header h1 span {
  font-size: 18px !important;
  font-weight: 400;
  letter-spacing: 0;
  color: $grey;
  position: relative;
  top: -5px;
}

/* TABLET FIX */

@media screen and (max-width:770px) {

  .join-btn {
    float: none;
    height: 19px !important;
    width: 50px !important;
    font-size: 10px !important;
    margin: 65px 0 -75px 15px;
    padding: 2px;
  }

  .join-btn button {
    height: 19px !important;
    width: 50px !important;
    font-size: 10px !important;
    padding: 2px;
  }

  .paddit {
    padding-right: none;
  }

}


/* PHONE */

@media screen and (max-width:480px) {


}


