// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom"; // GRAB SASS VARS

.blue-box {
  width: 100%;
  height: 120px;
  background: $blue;
  position: absolute;
  left: 0;
  z-index: 0;
  margin-top: -20px;
}

.header {
  position: relative;
  z-index: 100;
  color: $grey;
  padding-left: 10px;
}

.header h1 {
  font-weight: 100 !important;
  letter-spacing: 2px;
}

.group-wrapper {
  margin: 45px 0 0 0;
}

.create-group {
  postion: relative;
  z-index: 100;
  padding-right: 10px;
  margin-top: -45px;
}

.create-group a.btn {
  color: $grey;
  background: $blue;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.create-group a.btn:hover {
  color: $blue;
  background: $grey;
}

.custom-panel-content {
  padding: 25px 20px 15px !important;
}

.trigger-box {
  width: 90% !important;
  display: inline !important;
}

.add-trigger, .remove-trigger {
  width: 8% !important;
  height: 34px !important;
  margin-top: -2px !important;
}



/* BUTTONS */

.join-btn-wrap {
  background: green;
  width: 100%;
}

.join-btn {
  position: relative;
  top: -145px;
  width: 75px;
  margin-bottom: -35px;
  margin-right: 17px;
  text-align: right;
  float: right;
}

btn.join-btn {
  width: 75px;
}

.leave-btn-grey {
  color: rgba($darkGrey, 0.8) !important;
  font-weight: 700 !important;
  background: rgba($grey, 0.5) !important;
}

.leave-btn-grey:hover {
  background: $grey !important;
}

.nonmember-btn-green {
  color: white !important;
  font-weight: 700 !important;
  background: rgba($green, 0.9) !important;
}

.nonmember-btn-green:hover {
  background: $green !important;
}

.close-btn-red {
  color: white !important;
  font-weight: 700 !important;
  background: rgba($red, 0.9) !important;
}

.close-btn-red:hover {
  background: $red !important;
}

/* TABLET FIX */

@media screen and (max-width:770px) {

  .join-btn {
    position: relative;
    width: 54px;
    height: 19px !important;
    font-size: 10px !important;
    padding: 2px;
    float: left;
    margin-top: -85px;
    margin-left: 15px;
  }

  .join-btn a {
    height: 19px !important;
    font-size: 10px !important;
    padding: 2px;
  }

  .status {
    width: 50px;
    height: 19px;
    left: 15px;
    top: 75px;
    font-size: 10px;
    padding: 2px;
  }

}


/* PHONE */

@media screen and (max-width:480px) {



}


