// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom"; // GRAB SASS VARS

.big-div div{
  float:left;
}

.blue-box {
  width: 100%;
  height: 120px;
  background: $blue;
  position: absolute;
  left: 0;
  z-index: 0;
  margin-top: -20px;
}

.header {
  position: relative;
  z-index: 100;
  color: $grey;
  padding-left: 10px;
}

.header h1 {
  font-weight: 100 !important;
  letter-spacing: 2px;
}

.group-wrapper {
  margin: 45px 0 0 0;
}

.delete-all {
  postion: relative;
  z-index: 100;
  padding-right: 10px;
  margin-top: -45px;
}

.delete-all a.btn {
  color: $grey;
  background: $blue;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.delete-all a.btn:hover {
  color: $blue;
  background: $grey;
}

.custom-panel-content {
  padding: 25px 0;
}

.viewed-true {
  background: $grey
}

.delete-btn {
  padding:15px;
  vertical-align: center;
}

