<div class="home-grey-box light-blue"></div>

<div class="tagline text-center">
  <h1>Raise money by saying stupid stuff on Twitter!</h1>
</div>

<div class="floating-box box-shadow">
    <%= image_tag "http://i.imgur.com/XMstedA.jpg", class: "jumbo-img" %>
</div>

<div class="clearfix"></div>

<div class="call-to-action">
  <div class="row">
    <h3 id="how-it-works" class="text-center">Here's How it Works:</h3>
    <div class="col-sm-7 col-sm-offset-1 call-text">
      <ol class="steps">
        <li>Create a swear jar group for you and your friends.</li>
        <li>Make a list of taboo words for the group (like "#yolo" or "literally").</li>
        <li>If a group member tweets a taboo word, they'll automatically contribute to the jar via Venmo.</li>
        <li>Have an awesome pizza party with the funds you raised!</li>
      </ol>
    </div>
    <div class="col-sm-3 call-btn-box">
      <% if logged_in? %>
        <p><%= link_to "See your page", user_path(current_user), class: "btn btn-success btn-lg" %></p> 
      <% else %>
        <p><%= link_to 'Sign Up with Twitter', twitter_login_path, class: "btn btn-success btn-lg" %></p> 
      <% end %>
    </div>
  </div>
</div>

<div class="mobile-logo-fix">
  <%= render 'application/logo' %>
</div>





