<div class="home-grey-box"></div>

<div class="tagline text-center">
  <h1>Raise money by swearing on Twitter!</h1>
</div>

<div class="floating-box">
  <div class="jumbotron home-page-jumbotron">
    <h3>This will be a screenshot of a group feed page, or user page</h1>
  </div>
  
</div>

<div class="clearfix"></div>

<div class="call-to-action">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-1 call-text">
      <p>This is some fucking fantastic copy about what swearjar.me does. There are some features. Isn't this cool?</p>
    </div>
    <div class="col-sm-3 call-btn-box">
      <p><%= link_to 'Sign Up with Twitter', twitter_login_path, class: "btn btn-success btn-lg" %></p> 
    </div>
  </div>
</div>

<div class="text-center">
  <h1>Swear Jar</h1>
</div>